/* src/styles/theme.css */
@import "tailwindcss/preflight";
@tailwind utilities;

@layer base {
  :root {
    /* Common variables that don't change with theme */
    --radius-selector: 1rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
  }
}
